
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout1.cshtml";

}

<h2>Welcome @ViewBag.mailid</h2>

<!Doctype html>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @*@using(Html.BeginForm("Index", "MVCUpload",FormMethod.Post, new {enctype="multipart/form-data"}))
            {
                <div class="form-group">
                    <label>upload video files:</label>
                    <div class="input-group">
                        @Html.TextBox("videofile", "", new { type = "file" })<br />
                        <input type="text" name="no" required /><br />
                        <input type="submit" value="Upload video files" />
                        <p style="color:green;">@ViewBag.message</p>
                        <p style="color:tomato;">@ViewBag.message1</p>
                        <p style="color:tomato;">@ViewBag.err</p>

                    </div>
                </div>
            }*@
        @foreach (var item in Model)
        {
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <div class="title" style="width:250px;">@item.Movie_name</div>
                    <hr />
                    <div class="video-frame">
                        <video style="width:250px; height:150px;" controls>
                            <source src="@Url.Content(@item.Video_path)" type="video/mp4" />
                        </video>
                    </div>
                </div>
            }
    </div>
</body>
</html>
